<% # Clients of this partial must supply the following variables:
   # comment
   # user
%>

<% can_edit = comment.can_be_edited_by?(user)
   can_delete = comment.can_be_deleted_by?(user) %>

<% if can_edit %>
  <a href="<%= commontator.edit_comment_path(comment) %>"
    class="comment_edit_link"
    id="comment_<%= comment.id %>_edit_link"
    data-remote="true"
    data-toggle="tooltip"
    data-placement="top"
    title="댓글 수정">
    <span class="glyphicon glyphicon-pencil"></span>
  </a>
<% end %>

<% if can_delete %>
  <a href="<%= commontator.polymorphic_path(['delete', comment]) %>"
    id="comment_<%= comment.id %>_delete_link"
    class="comment_delete_link"
    data-remote="true"
    data-method="put"
    rel="nofollow"
    data-confirm="댓글을 삭제하시겠습니까?"
    data-toggle="tooltip"
    data-placement="top"
    title="댓글 삭제">
    <span class="glyphicon glyphicon-remove"></span>
  </a>
<% end %>
