%havit-color {
  color: #40BD9C;
}

.card-container {
  position: relative;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  padding-top: 16px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px;
  background-color: white;
  @media (max-width: 767px) {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-color: #ECECEC;
  }
  .modify-actions {
    display: none;
  }
}
.card-container.editing {
  .description {
    display: none;
  }
  .modify-actions {
    display: block;
    .buttons {
      float: right;
    }
  }
}
.card-photo-original {
  display: none;
}
.card-header {
  .card-group {
    position: absolute;
    left: 0;
    top: -22px;
  }
  .card-author-photo {
    float: left;
  }
  .card-title {
    margin-left: 45px;
    margin-right: 20px;
    .action-goal {
      @extend %havit-color;
    }
  }
  .card-metainfo {
    margin-left: 45px;
    .time {
      color: #9197a3;
      font-size: 12px;
    }
  }
  .card-option {
    position: absolute;
    right: 15px;
    top: 15px;
    color: #999;
    // cursor: pointer;
    cursor: not-allowed;
  }
}
.card-message {
  padding: 15px 0;
}
.card-photo {
  img {
    cursor: pointer;
    max-height: 300px;
    max-width: 90%;
  }
  img.mobile {
    max-width: 100%;
    max-height: 350px;
  }
  .next-goal {
    text-align: right;
    padding-top: 10px;
    opacity: 0.6;
    font-size: 85%;
    .goal-description {
      @extend %havit-color;
    }
  }
  .next-goal:before {
    content: '\2014 \00A0';
  }
}
.card-actions {
  position: relative;
  height: 30px;
  margin-top: 5px;
  border-top: 1px solid #e1e2e3;
  .like-form {
    position: relative;
    float: left;
    display: inline;
    height: 100%;
    text-align: center;
    font-size: 17px;
    color: hsl(0, 0%, 64%);
    .status-like-icon {
      button {
        padding: 0;
        border: 0;
        top: 0;
        margin: 0 auto;
        line-height: 30px;
        background: transparent;
        outline: 0;
        font-size: 20px;
      }
    }
  }
  .other-actions {
    float: right;
    position: relative;
    display: inline;
    height: 100%;
    width: 35px;
    text-align: center;
    line-height: 30px;
    opacity: .8;
    margin-right: 5px;
    .glyphicon {
      color: #AAA;
    }
    .modify-status-link {
      cursor: pointer;
      margin-right: 5px;
    }
  }
  .likers {
    line-height: 16px;
    margin: 0 28px;
    padding: 6px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #aaa;
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
  }
  .likers.expand-right {
    margin-right: 0;
  }
}
.card-comments {
  margin: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.like-form {
  float:left
}

// set-goal-card
.modify-goal-link {
  position:absolute;
  right: 10px;
  top: 10px;
  color: #AAA;
  cursor: pointer;
}

.goal-container {
  .modify-actions {
    display: none;
  }
}
.goal-container.editing {
  .modify-goal-link, .list-group-item-text, .goal-description, .status-body, .status-footer {
    display: none;
  }
  .modify-actions {
    display: block;
    .buttons {
      position: absolute;
      top: 8px;
      right: 8px;
    }
  }
}
.goal-container.new-status-form.editing {
  .modify-actions {
    .buttons {
      top: 2px;
      right: 0;
    }
    .goal-textarea {
      margin-top: 5px;
    }
  }
}
