%has-border-top-bottom {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}
.card-container {
  padding:0;
  margin-top:70px;
  background-color: white;
}
.card-goals {
  padding: 10px;
}
.card-message {
  padding: 10px;
}
.card-actions {
  position: relative;
  min-height: 34px;
}
.card-photo > img {
  max-height: 50px;
}

.like-form {
  float:left
}

.list-group.edit-goal-card {
  margin-bottom:0;

  .list-group-item {
    border:none;
    margin-bottom:0;
  }
  .list-group-item.weekly {
    @extend %has-border-top-bottom;
  }
  .list-group-item-text {
    font-style:italic;
    color: #379D41;
  }
}

// set-goal-card
.modify-goal-link {
  position:absolute;
  right:10px;
  top:10px;
}
