$device-phone: "only screen and (max-width: 767px)";
$device-tablet: "only screen and (max-width: 991px)";

.container-header {
  position:relative;
  margin-top:10px;
  .notice-container {
    .panel-body:after {
      clear: none;
    }
    .actions {
      margin-top: 10px;
    }
  }
}

.container-sidebar {
  position: relative;
  float: left;
  width: 224px;
  padding: 16px 0;
  @media #{$device-phone} {
    display: none;
  }
}

.container-sidebar.edit-goal {
  padding: 0 10px;
}

.container-center {
  position: relative;
  min-width: 240px;
  max-width: 680px;
  margin-left: 224px;
  @media #{$device-phone} {
    margin-left: 0;
  }
}

.container-right {
  position: absolute;
  top: 0;
  right: 0;
}
