.container-header {
  position:relative;
  margin-top:10px;
  .notice-container {
    .panel-body:after {
      clear: none;
    }
    .actions {
      margin-top: 10px;
    }
  }
}

.container-sidebar, .container-left {
  position: relative;
  float: left;
  width: 224px;
  padding: 10px 0;
  @media (max-width: 767px) {
    display: none;
  }
}

.container-sidebar.edit-goal {
  padding: 0 10px;
}

.container-center {
  position: relative;
  min-width: 240px;
  max-width: 680px;
  margin-left: 224px;
  padding-top: 10px;
  @media (max-width: 767px) {
    margin: -10px -15px 0;
    padding: 0;
    background-color: #F9F9F9;
  }
}

.container-right {
  position: fixed;
  top: 61px;
  right: 46px;
  width: 224px;
  @media (max-width: 1199px) {
    display: none;
  }
}
