// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

// import progress framework
$nprogress-color: #40BD9C;
$nprogress-height: 1px;
$nprogress-zindex: 10100;

@import 'nprogress';

@font-face {
  font-family: 'isocp2';
  src: url(font-path('isocp2-webfont.eot'));
  src: url(font-path('isocp2-webfont.eot') + "?#iefix") format('embedded-opentype'),
       url(font-path('isocp2-webfont.svg') + '#isocp2') format('svg'),
       url(font-path('isocp2-webfont.woff')) format('woff'),
       url(font-path('isocp2-webfont.ttf')) format('truetype');
  font-weight: normal;
  font-style: normal;
}

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #eee;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  padding: 0;
}

main.need-login {
  background-color: #fff;
}

.container {
  position: relative;
}

section {
  @extend .row;
  margin-top: 20px;
  }

#error_explanation:not(:empty) {
  @extend .alert;
  @extend .alert-danger;
}

// alert
.alert {
  margin-top:10px;
  margin-bottom:0;
  padding: 10px;
  text-align: center;
}

// show newline as expected
.nl2br {
  white-space: pre-wrap;
  word-break: break-all;
}

textarea {
  resize: none;
}

@media (max-width: 767px) {
  .tooltip {
    display: none !important;
  }
}

.btn-havit-white {
  color: #40BD9C;
  border: 1px solid #40BD9C;
  background-color: #fff;
}
.btn-havit-white:hover, .btn-havit-white:focus, .btn-havit-white:active {
  color: #40BD9C;
  background-image: linear-gradient(#fff, hsla(164, 49%, 50%, 0.1));
  box-shadow: none;
}

.btn-havit-inverted {
  color: #fff;
  background-color: hsl(164, 49%, 50%);
  border-color: hsl(164, 49%, 40%);
}
.btn-havit-inverted:hover, .btn-havit-inverted:focus, .btn-havit-inverted:active {
  color: #fff;
  background-color: hsl(164, 49%, 60%);
  border-color: hsl(164, 49%, 50%);
}

.bg-havit-white {
  background-color: #fff;
  border: 1px solid hsl(164, 49%, 50%);
  color: #000;
}
.bg-havit-inverted {
  background-color: hsl(164, 49%, 60%);
  border: 1px solid hsl(164, 49%, 50%);
  color: #fff;
}

.color-havit {
  // color: rgb(236, 84, 19);
  color: #40BD9C;
}
.border-havit {
  border: 1px solid hsl(164, 49%, 80%);
}
.panel-havit {
  border-color: hsl(0, 0%, 79%);
  .panel-heading {
    background-color: #fff;
    border-bottom: 1px solid #C9C9C9;
  }
}
.avatar-wrapper {
  display: inline-block;
  height: 31px;
  width: 31px;
  overflow: hidden;
}
.avatar-wrapper.status-avatar {
  height: 40px;
  width: 40px;
}
.avatar-wrapper + .user-name {
  display: inline-block;
  vertical-align: top;
  line-height: 31px;
  margin-top: 0;
  margin-left: 3px;
  padding-top: 0;
}
