.navbar {
  background-color: white;
  border-bottom: 1px solid #D3D3D3;
  min-height: 42px;
}

.navbar-header.need-login {
  @media (max-width: 767px) {
    width: 100%;
    margin: 0;
  }
}

.navbar-header {
  @media (max-width: 767px) {
    float: left;
    .navigation-logo {
      display: none;
    }
    .navigation-btn-mobile {
      cursor: pointer;
      span {
        font-size: 16px;
        margin-top: -4px;
        padding-top: 15px;
        padding-bottom: 13px;
        padding-left: 9px;
        color: #cccccc;
        vertical-align: text-top;
        font-weight: bold;
      }
      img {
        height: 40px;
        width: auto;
      }
    }
  }
  @media (min-width: 768px) {
    .navigation-logo {
      img {
        height: 50px;
        width: auto;
      }
    }
    .navigation-btn-mobile {
      display: none;
    }
  }
}

.show-on-mobile {
  display: none;
  @media (max-width: 767px) {
    display: block;
    margin-right: -5px;
    .navbar-nav {
      float: right;
      margin: 0;
      li {
        display: inline-block;
        cursor: pointer;
        a.glyphicon {
          font-size: 18px;
          padding: 12px 10px 11px;
          top: 0;
        }
        a:hover, a:active, a:focus {
          background-color: #E2E2E2;
        }
      }
    }
    .mobile-nav-header {
      margin-left: 15px;
      margin-right: 110px;
      padding-top: 11px;
      padding-bottom: 10px;
      font-size: 16px;
      font-weight: bold;
      color: #777;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      .icon {
        margin-right: 7px;
      }
    }
  }
}

.nav .my-page-link-li {
  margin-right: 5px;
  margin-left: 5px;
  .my-page-link {
    padding-top: 10px;
    padding-bottom: 4px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.collapse.navbar-collapse {
  .nav.navbar-nav.navbar-right {
    a:hover {
      background-color: #E2E2E2;
    }
    li > a {
      padding-left: 8px;
      padding-right: 8px;
      cursor: pointer;
      top: 0;
    }
    .new-goal-or-group > a, .edit-account-li > a, .sign-out-li > a {
      padding-top: 15px;
      padding-bottom: 16px;
    }
    .new-goal-or-group {
      font-size: 1.2em;
      .glyphicon-plus {
        top:0;
      }
    }
    .edit-account-li > a {
      font-size: 1.5em;
    }
    .sign-out-li > a {
      font-size: 1.3em;
    }
  }
}

nav.navbar, main {
  -webkit-transition: -webkit-transform .15s cubic-bezier(.2,.3,.25,.9);
  -moz-transition: -moz-transform .15s cubic-bezier(.2,.3,.25,.9);
  transition: transform .15s cubic-bezier(.2,.3,.25,.9);
}

body.side-open {
  .overlay {
    display: block;
    background-color: rgba(0,0,0,.2);
    z-index: 1050;
    overflow: hidden;
  }
  nav.navbar, main {
    position: fixed;
    overflow: hidden;
  }
}
body.side-open.left {
  nav.navbar, main {
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    -ms-transform: translateX(300px);
    transform: translateX(300px);
    border-left: 1px solid #aaa;
  }
  nav.side-nav-left {
    overflow-y: scroll;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    z-index: 1050;
  }
}
body.side-open.right {
  nav.side-nav-right {
    overflow-y: scroll;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    z-index: 1050;
  }
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;

  -webkit-transition: background-color .15s ease-out .0000001ms;
  -moz-transition: background-color .15s ease-out .0000001ms;
  transition: background-color .15s ease-out .0000001ms;
}

nav.side-nav-left {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background-color: #F9F9F9;
  overflow-y: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateX(-300px);
  -moz-transform: translateX(-300px);
  -ms-transform: translateX(-300px);
  transform: translateX(-300px);
  -webkit-transition: -webkit-transform .15s cubic-bezier(.2,.3,.25,.9);
  -moz-transition: -moz-transform .15s cubic-bezier(.2,.3,.25,.9);
  transition: transform .15s cubic-bezier(.2,.3,.25,.9);
  .logo {
    height: 43px;
    border-bottom: 1px solid #D3D3D3;
    background-color: #fff;
    img {
      height: 35px;
      margin-top: 3px;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  a {
    color: #999;
  }
  a:hover, a:focus, a:active {
    text-decoration: none;
    color: #40BD9C;
  }
  .icon {
    margin-right: 7px;
  }
  li.active > .selectable {
    font-weight: bold;
    color: #FAFAFA;
    background-color: #40bd9c;
  }
  .selectable {
    display: block;
    padding: 7px 10px;
    margin: -7px -10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: hsl(0, 0%, 60%);
    color: white;
  }
  .my-timeline {
    color: gray;
  }
  .my-timeline, li {
    display: block;
    background-color: #F4F4F4;
    padding: 7px 10px;
    margin: 0;
    border-radius: 0;
  }

  .new-group {
    a {
      cursor: not-allowed;
      .glyphicon-plus {
        font-size: 11px;
        margin-left: 2px;
        top: 0;
      }
    }
  }

  .goals {
    margin-top: 10px;
    font-size: 13px;
    margin-left: 14px;
    .theme {
      margin-bottom: -5px;
    }
    .glyphicon-ok {
      top: -1px;
      left: 3px;
    }
    .goal > a{
      display: block;
      padding: 5px 10px;
      margin: 0 -10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .goal.new > a {
      font-size: 12px;
      margin-bottom: 3px;
      cursor: not-allowed;
    }
    .progress {
      height: 8px;
      margin-bottom: 0;
      border-radius: 2px;
      .progress-bar {
        background-color: #B3B3B3;
        box-shadow: none;
      }
    }
    .goal.active {
      a {
        color: #40BD9C;
        font-weight: bold;
      }
      .progress-bar {
        background-color: #40BD9C;
      }
    }
  }
}

nav.side-nav-right {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 200px;
  background-color: white;
  overflow-y: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateX(280px);
  -moz-transform: translateX(280px);
  -ms-transform: translateX(280px);
  transform: translateX(280px);
  -webkit-transition: -webkit-transform .15s cubic-bezier(.2,.3,.25,.9);
  -moz-transition: -moz-transform .15s cubic-bezier(.2,.3,.25,.9);
  transition: transform .15s cubic-bezier(.2,.3,.25,.9);
  .contents {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    a {
      color: #777 !important;
    }
    .header {
      margin-bottom: 10px;
      .mobile-login-as {
        .my-page-link {
          img {
            display: inline;
            height: 40px;
            width: 40px;
          }
          span {
            margin-left: 10px;
            font-size: 18px;
            text-decoration: none;
            vertical-align: middle;
          }
        }
        .my-page-link:active, .my-page-link:link, .my-page:visited {
          text-decoration: none;
        }
        .my-page-link:hover {
          text-decoration: underline;
        }
      }
    }
    .menus {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 0;
      padding-right: 0;
      list-style: none;
      margin-top: 0;
      margin-bottom: 10px;
      margin-left: 0;
      .glyphicon {
        vertical-align: text-top;
      }
      a:active, a:hover, a:link, a:visited {
        text-decoration: none;
        padding: .25rem 0;
        display: block;
        font-size: 16px;
      }
      a:hover {
        text-decoration: underline;
      }
      .description {
        margin-left: 10px;
      }
    }
  }
}
