.navbar {
  background-color: white;
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.22);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.22);
}

.navbar-header {
  @media (max-width: 767px) {
    float: left;
    .navigation-logo {
      display: none;
    }
    .navigation-logo-mobile {
      cursor: pointer;
      img {
        display: inline;
        height: 40px;
        width: auto;
        margin-top: 5px;
        margin-left: 10px;
      }
    }
  }
  @media (min-width: 768px) {
    .navigation-logo {
      img {
        height: 50px;
        width: auto;
      }
    }
    .navigation-logo-mobile {
      display: none;
    }
  }
}

.show-on-mobile {
  display: none;
  @media (max-width: 767px) {
    display: block;
    margin-right: -5px;
    .navbar-nav {
      float: right;
      margin: 0;
      li {
        display: inline-block;
        a.glyphicon {
          font-size: 18px;
          padding: 15px 8px;
        }
      }
    }
  }
}

.nav .my-page-link-li {
  margin-right: 5px;
  margin-left: 5px;
  .my-page-link {
    padding-top: 10px;
    padding-bottom: 4px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.nav.navbar-nav.navbar-right {
  a:hover {
    background-color: #E2E2E2;
  }
  li > a {
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
    top: 0;
  }
  .new-goal-or-group {
    font-size: 1.2em;
    .glyphicon-plus {
      top:0;
    }
  }
  .edit-account-li > a {
    font-size: 1.5em;
  }
  .sign-out-li > a {
    font-size: 1.3em;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  display: none;
  background-color: rgba(0,0,0,0);
  -webkit-transition: background-color .15s ease-out .0000001ms;
  -moz-transition: background-color .15s ease-out .0000001ms;
  transition: background-color .15s ease-out .0000001ms;
}
