.navbar {
  background-color: white;
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.22);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.22);
}

.navbar-header {
  @media (max-width: 767px) {
    float: left;
    .navigation-logo {
      display: none;
    }
    .navigation-logo-mobile {
      cursor: pointer;
      img {
        display: inline;
        height: 40px;
        width: auto;
        margin-top: 5px;
        margin-left: 10px;
      }
      .mobile-menu-dropdown {
        display: none;
        top: 50px;
        position: absolute;
        width: 100%;
        padding: 15px;
        margin: 0;
        list-style: none;
        opacity: 0.85;
        background-color: white;
        border-bottom: 1px solid #BEBCBC;
        .glyphicon {
          vertical-align: text-top;
        }
        a:active, a:hover, a:link, a:visited {
          color: #777;
          text-decoration: none;
          padding: .25rem 0;
          display: block;
          font-size: 16px;
        }
        a:hover {
          text-decoration: underline;
        }
        .description {
          margin-left: 10px;
        }
      }
    }
  }
  @media (min-width: 768px) {
    .navigation-logo {
      img {
        height: 50px;
        width: auto;
      }
    }
    .navigation-logo-mobile {
      display: none;
    }
  }
}

.show-on-mobile {
  display: none;
  @media (max-width: 767px) {
    display: block;
    margin-right: -5px;
    .navbar-nav {
      float: right;
      margin: 0;
      li {
        display: inline-block;
        a.glyphicon {
          font-size: 18px;
          padding: 15px 8px;
        }
      }
    }
    .group-and-goal-select {
      margin-left: 75px;
      margin-right: 75px;
      padding-top: 8px;
      padding-bottom: 17px;
      text-align: center;
      font-size: 18px;
      color: #777;
      cursor: pointer;
      .group, .goal {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .icon {
        margin-right: 7px;
      }
      .show-button {
        position: absolute;
        bottom: 0;
        font-size: 13px;
        color: #999;
      }
    }
    .timeline-top-nav-on-mobile {
      display: none;
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      padding: 15px;
      margin: 0;
      list-style: none;
      opacity: 0.9;
      background-color: #eee;
      border-bottom: 1px solid #BEBCBC;
      font-size: 13px;
      text-align: left;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }
      a {
        color: #666;
      }
      a:hover, a:focus, a:active {
        text-decoration: none;
      }
      .icon {
        margin-right: 7px;
      }
      .joined-groups {
        margin-left: 50px;
        margin-right: 50px;
      }
      li.active > .selectable {
        font-weight: bold;
        border-bottom: 2px solid #40BD9C;
        color: #000;
      }
      .selectable {
        display: block;
        padding: 7px 10px;
        margin: -7px -10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      li {
        display: block;
        background-color: #fff;
        padding: 7px 10px;
        margin-bottom: 15px;
        -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
        border-radius: 6px;
      }

      .new-group {
        a {
          color: #999;
          cursor: not-allowed;
        }
      }

      .goals {
        margin-top: 10px;
        .theme {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          display: inline-block;
          max-width: 150px;
          margin-bottom: -5px;
        }
        .glyphicon-ok {
          top: -1px;
          left: 3px;
        }
        .goal > a{
          display: block;
          padding: 5px 10px;
          margin: 0 -10px;
        }
        .goal.new > a {
          color: #999;
          cursor: not-allowed;
        }
        .progress {
          height: 8px;
          margin-bottom: 0;
          border-radius: 2px;
          .progress-bar {
            background-color: #B3B3B3;
            box-shadow: none;
          }
        }
        .goal.active {
          a {
            color: #40BD9C;
            font-weight: bold;
          }
          .progress-bar {
            background-color: #40BD9C;
          }
        }
      }
    }
  }
}

.nav .my-page-link-li {
  margin-right: 5px;
  margin-left: 5px;
  .my-page-link {
    padding-top: 10px;
    padding-bottom: 4px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.nav.navbar-nav.navbar-right {
  a:hover {
    background-color: #E2E2E2;
  }
  li > a {
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
    top: 0;
  }
  .new-goal-or-group {
    font-size: 1.2em;
    .glyphicon-plus {
      top:0;
    }
  }
  .edit-account-li > a {
    font-size: 1.5em;
  }
  .sign-out-li > a {
    font-size: 1.3em;
  }
}
