.notifications-li {
  outline: 0;
  padding: 0;
  .notification-btn {
    font-size: 19px;
    color: #777;
    width: 37px;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 9px;
    cursor: pointer;
  }
  .notifications-container {
    background: rgba(255,255,255,.98);
    background-color: #fff;
    border: 1px solid rgba(100, 100, 100, .4);
    box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    overflow: visible;
    position: absolute;
    top: 51px;
    left: -185px;
    width: 300px;
    z-index: -1;
    @media (max-width: 767px) {
      left: -275px;
    }
  }
}
.notifications-li:hover, .notifications-li:focus {
  background-color: #E2E2E2;
  .notification-btn {
    color: #333;
  }
}
.notifications-li.opened {
  .notification-btn {
    color: #333;
  }
}
.notifications-li.closed {
  .notifications-container {
    display: none;
  }
}

.notification {
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  padding: 5px;
  .notification-link {
    text-decoration: none;
    .notification-wrapper {
      padding: 5px;
      .noti-who {
        float: left;
        width: 35px;
      }
      .noti-what {
        margin-left: 42px;
      }
    }
  }
}

.notification.unread {
  background-color: #EDEFF5;
}

.notification:hover {
  background-color: #F6F7F8;
}

.notifications-count {
  position: absolute;
  right: 3px;
  top: 9px;
  background-color: #dc0d17;
  background-image: linear-gradient(#fa3c45, #dc0d17);
  color: #fff;
  min-height: 13px;
  padding: 1px 3px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .4);
  border-radius: 2px;
  background-clip: padding-box;
  font-size: 10px;
  font-smoothing: subpixel-antialiased;
  line-height: normal;
}
