.search-result-container > .search-form {
  width: 300px;
  padding-top: 10px;
  margin-left: 10px;
}

.search-form {
  margin-left: 0;
  @media (min-width : 992px) {
    margin-left: 80px;
  }
  .form-control.search-input {
    display: block;
    @media (min-width : 768px) {
      width: 220px;
    }
    @media (min-width : 992px) {
      width: 320px;
    }
    @media (min-width : 1200px) {
      width: 470px;
    }
  }
  .search-input:focus {
    border-color: #ccc;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  .search-input-btn {
    display: block;
    button {
      color: gray;
    }
  }
}

.search-result-container {
  padding-top: 10px;
  .search-result-description {
    text-align: center;
    padding-top: 5px;
    font-size: 18px;
    font-weight: bold;
  }
  .menus {
    text-align: right;
    margin-bottom: 10px;
    .btn {
      color: #aaa;
    }
    .btn:focus, .btn:hover {
      outline: none;
      text-decoration: none;
      color: #ec5413;
    }
    .active {
      color: #ec5413;
    }
  }
  .search-results {
    @media (max-width: 767px) {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  .search-results.show-not-joined {
    .groups-joined {
      display: none;
    }
  }
  .searched-group {
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px 0;
    height: 126px;
    .left-area {
      @media (max-width: 500px) {
        width: 100%;
      }
      .privacy-info {
        display: inline;
        cursor: pointer;
        margin-top: 2px;
        margin-right: 5px;
      }
      .title-link {
        display: inline;
        text-decoration: none;
        .title {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 18px;
          font-weight: bold;
        }
      }
      .description {
        border-top: 1px solid #ddd;
        margin-top: 5px;
        padding-top: 5px;
        font-size: 13px;
        color: #9197a3;
        display: block;
        display: -webkit-box;
        height: 80px;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .right-area {
      @media (max-width: 500px) {
        display: none;
      }
      padding-left: 10px;
      .metainfo {
        font-size: 12px;
        margin-top: 5px;
        .members-info {
          cursor: default;
        }
      }
      .group-join-div {
        padding-top: 43px;
        .already-joined {
          display: none;
        }
        .full-group {
          display: none;
          button {
            font-size: 16px;
          }
        }
        .group-join-form {
          .group-passcode {
            display: none;
          }
        }
      }
      .group-join-div.already-joined {
        .already-joined {
          display: block;
        }
        .group-join-form {
          display: none;
        }
      }
      .group-join-div.full-group {
        .full-group {
          display: block;
        }
        .group-join-form {
          display: none;
        }
      }
      .group-join-div.need-passcode {
        padding-top: 30px;
        .group-passcode {
          margin-bottom: 5px;
          display: block;
          input.wrong-passcode {
            font-style: italic;
            border-color: #FF0000;
          }
          input.wrong-passcode:focus {
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
          }
        }
      }
    }
  }
}
