.search-form {
  .form-control.search-input {
    width: 500px;
  }
  .search-input:focus {
    border-color: #ccc;
    box-shadow: none;
    webkit-box-shadow: none;
  }
  .search-input-btn {
    button {
      color: gray;
    }
  }
}
