// Used only when there is no montly goal
.no-monthly-goal {
  position:relative;
  margin-top:10px;
  textarea {
    min-height:70px;
  }
  .submit-btn {
    position:absolute;
    right:5px;
    top:5px;
  }
}

.container-header {
  position:relative;
  margin-top:10px;
  .notice-container {
    .actions {
      margin-top: 10px;
      .btn {
        margin-right:15px;
      }
    }
    .set-daily-goal {
      .form-group {
        margin-bottom:0;
      }
      .daily-goal-text {
        font-style:italic;
        color: #379D41;
      }
    }
  }
}

.container-sidebar {
  float: left;
  width: 224px;
  padding: 16px 0;
}

.edit-goal.container-sidebar {
  padding: 0 10px;
}

.container-center {
  border: 1px solid rgba(0,0,0,.1);
  border-width: 0 1px;
  min-width: 240px;
  max-width: 700px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: 224px;
}

.card-header {
  height: 45px;
  margin-top: -60px;
  margin-left: -15px;
  .status-stats {
    float:right;
    padding-top: 10px;
  }
}

.status-author {
  position: relative;
  img {
    position: absolute;
    top:0;
    left:0;
    height: 40px;
  }
  .status-user-name {
    position: absolute;
    left: 45px;
  }
  .time {
    position: absolute;
    top: 20px;
    left: 45px;
  }
}

.card-goals {
  background-color: rgb(181, 213, 255);
  margin: -1px -16px;
  font-weight:bold;
  font-size:18px;
  text-align: center;
  .daily-goal-text {
    font-style: italic;
    color:green;
  }
}

.new-status-form {
  .status-author {
    .status-new-description {
      margin-left: 45px;
    }
  }

  .form-group {
    margin-top : 5px;
    textarea {
      color :green;
    }
    .status-photo {
      text-align: center;
      width: 40px;
      float: right;
      border: 1px solid rgba(0, 0, 0, 0.1);
      margin-top: -48px;
      margin-right: 5px;
      background-color: #EFEFEF;
      border-radius: 5px;
      .status-photo-wrapper {
        position: relative;
        height: 33px;
        cursor: pointer;
        .status-photo-link {
          .photo-upload-wrapper {
            height: 100%;
            overflow: hidden;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            font-size: 25px;
            .hidden-file-input {
              bottom: 0;
              cursor: inherit;
              font-size: 1000px !important;
              height: 300px;
              margin: 0;
              opacity: 0;
              padding: 0;
              position: absolute;
              right: 0;
            }
          }
        }
      }
    }
    .status-photo:hover {
      background-color: #FFF;
      .status-photo-link:hover {
        text-decoration: none;
        color: #337ab7 !important;
      }
    }

    .status-footer {
      margin-top: 10px;
      .next-daily-goal-input {
        width:400px;
      }
      .submit-btn {
        float: right;
      }
    }
  }
}
