@import "bootstrap-sprockets";
@import "bootstrap";

.notice-container {
  position:relative;
  margin-top:10px;

  textarea {
    min-height:70px;
  }

  .notice-submit-btn {
    position:absolute;
    right:5px;
    top:5px;
  }
}

.status {
  .description {
    @extend .lead;
    margin-bottom: 5px;
  }
}
