.user-page {
  .user-information {
    height: 50px;
    margin-bottom: -40px;
    img {
      display: inline;
      height: 40px;
      float: left;
      margin-right: 10px;
    }
    .user-name {
      margin-top: 10px;
      padding-top: 4px;
    }
  }
  .user-statuses {

  }
}
