.user-page {
  .user-information {
    height: 40px;
    margin-top: 10px;
    text-align: center;
    img {
      display: inline;
      float: left;
      margin-right: 10px;
    }
    .user-name {
    }
  }
  .user-statuses {
  }
}
