.retrospect-container {
  .weekly-statuses {
    width: 30%;
    padding: 0 20px;
    float: left;
    .card-container.container-center {
      margin-left:0;
    }
  }
  .retrospect {
    width: 70%;
    padding: 0 20px;
    float: right;
    blockquote {
      border-left: 5px solid #000;
    }
  }
  .card-photo > img {
    max-height: 50px;
  }
}

.weekly-retrospects {
  text-align: center;
  .navigation {
    text-align: left;
  }
  .weeks-container {
    .week {
      .daily-stars {
        padding-left: 0;
        li {
          display: inline-block;
          .star {
            display:block;
          }
        }
      }
    }
  }
}

.notice-container.retro {
  .panel-body {
    padding: 5px;
    .link-div {
      width: 50%;
      a {
        width: 100%;
        display: table;
        text-align: center;
      }
      a:hover, a:visited, a:active {
        background: #f6f7f8;
        text-decoration: none;
      }
      .title {
        height: 85px;
        display: table-cell;
        vertical-align: middle;
        color: #3b5998;
        font-size: 15px;
        font-weight: bold;
        padding-left: 5px;
        padding-right: 5px;
      }
    }
    .link-div.left {
      float: left;
      border-right: 1px solid #e5e5e5;
    }
    .link-div.right {
      float: right;
    }
  }
}
